<div *ngIf="selectedWits">
    <div class="well" style="text-align:center">Configuration selected: {{selectedWits.Name}}</div>
    <div class="btn-group btn-group-justified">
        <a (click)="isInEditMode = !isInEditMode" class="btn btn-primary">{{!isInEditMode ? 'Edit' : 'Done Editing'}}</a>
        <a *ngIf="!isActive()" class="btn btn-primary">Save</a>
        <a (click)="duplicate()" class="btn btn-primary">Duplicate</a>
    </div>
    <div class="btn-group btn-group-justified">
        <a (click)="activate()" class="btn btn-default">Push to current well</a>
    </div>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cnl of selectedWits.Channels">
                <td *ngIf="!isInEditMode">{{cnl.ID}}</td>
                <td *ngIf="isInEditMode"> <input [(ngModel)]="cnl.ID"></td>
                <td *ngIf="!isInEditMode"> {{cnl.Name}}</td>
                <td *ngIf="isInEditMode"> <input [(ngModel)]="cnl.Name"></td>
                <td *ngIf="!isInEditMode"> {{cnl.type}}</td>
                <td *ngIf="isInEditMode"> <input [(ngModel)]="cnl.type"></td>
            </tr>
        </tbody>
    </table>